/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# variables
# Utility
# Common
# Hero Section
# Feature Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/
:root {
  --insuba-font: "Roboto", sans-serif;
  --insuba-font2: "Rubik", sans-serif;
  --insuba-heading-font: "Poppins", sans-serif;
  --insuba-special-font: "Homemade Apple", cursive;
  --insuba-text: #636363;
  --insuba-text-rgb: 99, 99, 99;
  --insuba-text-gray: #767676;
  --insuba-text-gray-rgb: 118, 118, 118;
  --insuba-base: #0365d3;
  --insuba-base-rgb: 3, 101, 211;
  --insuba-gray: #e0e0e0;
  --insuba-gray-rgb: 224, 224, 224;
  --insuba-gray2: #b4b5ba;
  --insuba-gray2-rgb: 180, 181, 186;
  --insuba-gray3: #eeeeee;
  --insuba-gray3-rgb: 238, 238, 238;
  --insuba-gray4: #dbdbdb;
  --insuba-gray4-rgb: 219, 219, 219;
  --insuba-gray5: #cacaca;
  --insuba-gray5-rgb: 202, 202, 202;
  --insuba-gray6: #3c5c83;
  --insuba-gray6-rgb: 60, 92, 131;
  --insuba-gray7: #e8e7e7;
  --insuba-gray7-rgb: 232, 231, 231;
  --insuba-white: #ffffff;
  --insuba-white-rgb: 255, 255, 255;
  --insuba-white2: #ecf2f2;
  --insuba-white2-rgb: 236, 242, 242;
  --insuba-white3: #f1f6f7;
  --insuba-white3-rgb: 241, 246, 247;
  --insuba-white4: #d7d7d7;
  --insuba-white4-rgb: 215, 215, 215;
  --insuba-white5: #f0f5f5;
  --insuba-white5-rgb: 240, 245, 245;
  --insuba-white6: #e4e8eb;
  --insuba-white6-rgb: 228, 232, 235;
  --insuba-white7: #fffcf6;
  --insuba-white7-rgb: 255, 252, 246;
  --insuba-white8: #edf0f2;
  --insuba-white8-rgb: 237, 240, 242;
  --insuba-white9: #F1F5F6;
  --insuba-white9-rgb: 241, 245, 246;
  --insuba-black: #122f2a;
  --insuba-black-rgb: 18, 47, 42;
  --insuba-black2: #333333;
  --insuba-black2-rgb: 51, 51, 51;
  --insuba-black3: #19232b;
  --insuba-black3-rgb: 25, 35, 43;
  --insuba-black4: #0f3564;
  --insuba-black4-rgb: 15, 53, 100;
  --insuba-black5: #0f3667;
  --insuba-black5-rgb: 15, 54, 103;
  --insuba-black6: #232323;
  --insuba-black6-rgb: 35, 35, 35;
  --insuba-black7: #051d1f;
  --insuba-black7-rgb: 5, 29, 31;
  --insuba-black8: #202221;
  --insuba-black8-rgb: 32, 34, 33;
  --insuba-black9: #0f3260;
  --insuba-black9-rgb: 15, 50, 96;
  --insuba-black10: #000000;
  --insuba-black10-rgb: 0, 0, 0;
  --insuba-black11: #0e0e0e;
  --insuba-black11-rgb: 14, 14, 14;
  --insuba-black12: #264772;
  --insuba-black12-rgb: 38, 71, 114;
  --insuba-black13: #123866;
  --insuba-black13-rgb: 18, 56, 102;
  --insuba-black14: #070707;
  --insuba-black14-rgb: 7, 7, 7;
  --insuba-yellow: #ffa415;
  --insuba-yellow-rgb: 255, 164, 21;
  --insuba-blue: #7bb9ff;
  --insuba-blue-rgb: 123, 185, 255;
  --insuba-blue2: #0759b4;
  --insuba-blue2-rgb: 7, 89, 180;
  --insuba-border-color: #dddddd;
  --insuba-border-color-rgb: 221, 221, 221;
  --insuba-letter-space: 0.1em;
  --insuba-letter-space-xl: 0.2em;
  --section-space: 120px;
  --section-space2: 116px;
}

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mt--60 {
  margin-top: -60px;
}

.mt--120 {
  margin-top: -120px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb--60 {
  margin-bottom: -60px;
}

.mb--120 {
  margin-bottom: -120px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-142 {
  padding-top: 142px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
body {
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-size: 16px;
  color: var(--insuba-text, #636363);
  line-height: 1.75;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--insuba-base, #0365d3);
  transition: all 400ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--insuba-heading-font, "Poppins", serif);
  color: var(--insuba-black, #122f2a);
}
@media (max-width: 575px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

@media (max-width: 575px) {
  p br {
    display: none;
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.section-space {
  padding-top: var(--section-space, 120px);
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-space2 {
  padding-top: var(--section-space2, 118px);
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space2 {
    padding-top: 96px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space2 {
    padding-top: 76px;
    padding-bottom: 76px;
  }
}

.section-space-top {
  padding-top: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space-top {
    padding-top: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-top {
    padding-top: 80px;
  }
}

.section-space-top2 {
  padding-top: var(--section-space2, 118px);
}
@media (max-width: 767px) {
  .section-space-top2 {
    padding-top: 96px;
  }
}
@media (max-width: 575px) {
  .section-space-top2 {
    padding-top: 80px;
  }
}

.section-space-bottom {
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space-bottom {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-bottom {
    padding-bottom: 80px;
  }
}

.section-space-bottom2 {
  padding-bottom: 239px;
}
@media (max-width: 991px) {
  .section-space-bottom2 {
    padding-bottom: var(--section-space, 120px);
  }
}
@media (max-width: 767px) {
  .section-space-bottom2 {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-bottom2 {
    padding-bottom: 80px;
  }
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  --bs-gutter-x: 30px;
}

.gutter-y-10 {
  --bs-gutter-y: 10px;
}

.gutter-y-15 {
  --bs-gutter-y: 15px;
}

.gutter-y-20 {
  --bs-gutter-y: 20px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.gutter-y-40 {
  --bs-gutter-y: 40px;
}

.gutter-y-50 {
  --bs-gutter-y: 50px;
}

.gutter-y-60 {
  --bs-gutter-y: 60px;
}

.gutter-y-70 {
  --bs-gutter-y: 70px;
}

.gutter-y-80 {
  --bs-gutter-y: 80px;
}

.logo-retina img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* template button */
.insuba-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  padding: 10.5px 77px 10.5px 35px;
  background-color: var(--insuba-black3, #19232b);
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-size: 17px;
  color: var(--insuba-white, #ffffff);
  font-weight: 500;
  border-radius: 100px;
  z-index: 1;
  transition: all 500ms ease;
}
.insuba-btn::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  background-color: var(--insuba-base, #0365d3);
  z-index: -1;
  transition: all 500ms ease;
}
.insuba-btn:hover::after {
  width: 100%;
  left: 0;
}
.insuba-btn__icon-box {
  width: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--insuba-base, #0365d3);
  border-radius: 0 100px 100px 0;
  overflow: hidden;
  transition: all 500ms ease;
}
.insuba-btn__icon-box::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--insuba-white, #ffffff);
  position: absolute;
  top: 0;
  left: 0;
}
.insuba-btn:hover .insuba-btn__icon-box {
  background-color: var(--insuba-black3, #19232b);
}
.insuba-btn__icon {
  display: inline-flex;
  font-size: 13px;
  color: var(--insuba-white, #ffffff);
  transition: all 400ms ease;
}
.insuba-btn__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.insuba-btn:hover .insuba-btn__icon {
  animation: slideLeft 400ms;
}
.insuba-btn--base {
  background-color: var(--insuba-base, #0365d3);
}
.insuba-btn--base::after {
  background-color: var(--insuba-black3, #19232b);
}
.insuba-btn--base .insuba-btn__icon-box {
  background-color: var(--insuba-black3, #19232b);
}
.insuba-btn--base:hover .insuba-btn__icon-box {
  background-color: var(--insuba-base, #0365d3);
}
.insuba-btn--white {
  color: var(--insuba-black3, #19232b);
  background-color: var(--insuba-white, #ffffff);
}
.insuba-btn--white::after {
  background-color: var(--insuba-black3, #19232b);
}
.insuba-btn--white .insuba-btn__icon-box {
  background-color: var(--insuba-black3, #19232b);
}
.insuba-btn--white:hover {
  color: var(--insuba-white, #ffffff);
}
.insuba-btn--white:hover .insuba-btn__icon-box {
  background-color: var(--insuba-base, #0365d3);
}

.sec-title {
  margin-bottom: 49px;
}
.sec-title--two .sec-title__top {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.sec-title--two .sec-title__box {
  background-color: var(--insuba-base, #0365d3);
}
.sec-title--two .sec-title__box::after {
  border-color: transparent transparent transparent var(--insuba-base, #0365d3);
}
.sec-title--two .sec-title__box--right::after {
  left: -6px;
  border-width: 4.5px 7.8px 4.5px 0;
  border-color: transparent var(--insuba-base, #0365d3) transparent transparent;
}
.sec-title--two .sec-title__box__inner {
  width: 10px;
  height: 10px;
  background-color: var(--insuba-white, #ffffff);
}
.sec-title--two .sec-title__box__inner::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--insuba-black5, #0f3667);
}
.sec-title--two .sec-title__tagline {
  color: var(--insuba-base, #0365d3);
}
.sec-title--center {
  text-align: center;
}
.sec-title__top {
  margin-bottom: 22px;
  padding: 7px 25px 5px;
  display: inline-flex;
  gap: 15px;
  background-color: var(--insuba-base, #0365d3);
  border-radius: 30px;
}
.sec-title__box {
  position: relative;
  top: 3px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: var(--insuba-white, #ffffff);
}
.sec-title__box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent var(--insuba-white, #ffffff);
}
.sec-title__box__inner {
  width: 8px;
  height: 8px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--insuba-black5, #0f3667);
}
.sec-title__tagline {
  margin: 0;
  font-family: var(--insuba-font2, "Rubik", sans-serif);
  font-size: 18px;
  color: var(--insuba-white, #ffffff);
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.3;
}
.sec-title__title {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.314;
}
@media (max-width: 575px) {
  .sec-title__title {
    font-size: 33px;
  }
}
@media (max-width: 430px) {
  .sec-title__title {
    font-size: 30px;
  }
}
.sec-title__title__highlight {
  color: var(--insuba-base, #0365d3);
  border-bottom: 2px solid var(--insuba-base, #0365d3);
}

.insuba-ratings {
  display: flex;
  align-items: center;
  gap: 9px;
}
.insuba-ratings__icon {
  display: inline-flex;
  align-items: baseline;
  font-size: 16px;
  color: var(--insuba-base, #0365d3);
  transition: all 500ms ease;
}
.insuba-ratings__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.video-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  background-color: var(--insuba-white, #ffffff);
  font-size: 33px;
  color: var(--insuba-black5, #0f3667);
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.video-btn svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.video-btn__ripple::before, .video-btn__ripple::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 0 RGBA(var(--insuba-white-rgb, 255, 255, 255), 0.22);
  -webkit-animation: videoRipple 3s infinite;
  animation: videoRipple 3s infinite;
}
.video-btn__ropple::before {
  position: absolute;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.video-btn__ripple::after {
  position: absolute;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@keyframes videoRipple {
  70% {
    box-shadow: 0 0 0 40px RGBA(var(--insuba-white-rgb, 255, 255, 255), 0);
  }
  100% {
    box-shadow: 0 0 0 0 RGBA(var(--insuba-white-rgb, 255, 255, 255), 0);
  }
}
.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.social-links a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: RGBA(var(--insuba-white-rgb, 255, 255, 255), 0.17);
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms ease;
}
.social-links__icon {
  display: inline-flex;
  font-size: 14px;
  color: var(--insuba-white, #ffffff);
  transition: all 500ms ease;
}
.social-links__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.social-links a:hover {
  background-color: var(--insuba-base, #0365d3);
}
.social-links a:hover .social-links__icon {
  color: var(--insuba-white, #ffffff);
  animation: slideTop 400ms;
}

.progress-box + .progress-box {
  margin-top: 28px;
}
.progress-box__title {
  margin-bottom: 13px;
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-size: 16px;
  font-weight: 700;
  color: var(--insuba-text, #636363);
  line-height: 1.625;
}
@media (max-width: 575px) {
  .progress-box__title {
    font-size: 15px;
  }
}
.progress-box__bar {
  margin-left: 4px;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--insuba-gray4, #dbdbdb);
  border-radius: 2px;
}
.progress-box__bar::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--insuba-base, #0365d3);
  border-radius: 10px;
}
.progress-box__bar__inner {
  position: absolute;
  height: 100%;
  width: 0px;
  top: 0;
  left: 0;
  background-color: var(--insuba-base, #0365d3);
  border-radius: inherit;
  transition: all 800ms linear;
}
.progress-box__number {
  position: absolute;
  bottom: calc(100% + 13px);
  right: 0;
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-size: 16px;
  color: var(--insuba-text, #636363);
  font-weight: 700;
  line-height: 1.625;
}
@media (max-width: 575px) {
  .progress-box__number {
    font-size: 15px;
  }
}

.post-pagination {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.post-pagination a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: var(--insuba-white3, #f1f6f7);
  color: var(--insuba-text, #636363);
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  line-height: 43px;
  overflow: hidden;
  transition: all 400ms ease;
}
.post-pagination a .post-pagination__icon {
  display: inline-flex;
  font-size: 13px;
  color: var(--insuba-text, #636363);
  transition: all 400ms ease;
}
.post-pagination a .post-pagination__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.post-pagination a:hover {
  color: var(--insuba-white, #ffffff);
  background-color: var(--insuba-base, #0365d3);
}
.post-pagination a:hover .post-pagination__icon {
  color: var(--insuba-white, #ffffff);
  animation: slideLeft 400ms;
}
.post-pagination li.active a {
  color: var(--insuba-white, #ffffff);
  background-color: var(--insuba-base, #0365d3);
}
.post-pagination li.active a .post-pagination__icon {
  color: var(--insuba-white, #ffffff);
}

.tabs-box .tabs-content .tab:not(.active-tab) {
  display: none;
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--insuba-base, #0365d3);
}

.tns-outer .tns-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.tns-outer .tns-controls button {
  width: 45px;
  height: 45px;
  border: 2px solid #f4f4f4;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--insuba-text, #636363);
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.ul-list-one {
  margin-bottom: 0;
}
.ul-list-one li {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 500;
  color: var(--insuba-black, #122f2a);
}
@media (min-width: 481px) {
  .ul-list-one li {
    font-size: 35px;
  }
}
.ul-list-one li::before {
  content: "\e907";
  color: var(--insuba-base, #0365d3);
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "azino-icon";
}

.preloader {
  position: fixed;
  background-color: var(--insuba-black5, #0f3667);
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.preloader__image {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90px auto;
  width: 100%;
  height: 100%;
}

/* scroll to top */
.scroll-to-top {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  background: transparent;
  position: fixed;
  bottom: 60px;
  right: -12px;
  z-index: 99;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all 0.2s ease;
}
.scroll-to-top__text {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-right: 8px;
}
.scroll-to-top__wrapper {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: var(--insuba-base, #0365d3);
  position: relative;
  overflow: hidden;
}
.scroll-to-top__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--insuba-black, #122f2a);
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

.insuba-owl__carousel--with-shadow .owl-stage-outer {
  overflow: visible;
}
.insuba-owl__carousel--with-shadow .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease, visibility 500ms ease;
}
.insuba-owl__carousel--with-shadow .owl-item.active {
  opacity: 1;
  visibility: visible;
}

.insuba-owl__carousel--with-shadow .owl-stage-outer {
  overflow: visible;
}
.insuba-owl__carousel--with-shadow .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease, visibility 500ms ease;
}
.insuba-owl__carousel--with-shadow .owl-item.active {
  opacity: 1;
  visibility: visible;
}

.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 60px;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 17px;
  color: var(--insuba-black, #122f2a);
  background-color: var(--insuba-white2, #ecf2f2);
  border-radius: 50%;
  transition: all 800ms ease;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav button:hover {
  color: var(--insuba-white, #ffffff);
  background-color: var(--insuba-base, #0365d3);
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav button span {
  border: none;
  outline: none;
  color: inherit;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot {
  outline: 0;
  border: 0;
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--insuba-base, #0365d3);
  transition: all 400ms ease;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot span {
  background-color: transparent;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot:hover, .insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot.active {
  background-color: var(--insuba-base, #0365d3);
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot:hover span, .insuba-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot.active span {
  background-color: transparent;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav.disabled + .owl-dots {
  margin-top: 60px;
}
.insuba-owl__carousel--basic-nav.owl-carousel .owl-dots.disabled,
.insuba-owl__carousel--basic-nav.owl-carousel .owl-nav.disabled {
  display: none;
}

/* ui datepicker */
.ui-datepicker.ui-widget-content {
  border: 1px solid var(--insuba-border-color, #dddddd);
  font-family: var(--insuba-font, "Roboto", sans-serif);
  color: var(--insuba-gray, #e0e0e0);
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  width: 307px;
  padding: 5px 8px 3px;
  background-color: var(--insuba-white, #ffffff);
}
@media (max-width: 360px) {
  .ui-datepicker.ui-widget-content {
    width: 270px;
  }
}

.ui-datepicker .ui-datepicker-header {
  padding: 6px 0;
  border-radius: 6px;
  background-image: none;
  background-color: var(--insuba-base, #0365d3);
  color: var(--insuba-white, #ffffff);
  font-family: var(--insuba-font, "Roboto", sans-serif);
}

.ui-datepicker-calendar th span {
  font-family: var(--insuba-font, "Roboto", sans-serif);
  color: var(--insuba-base, #0365d3);
}
.ui-datepicker-calendar td {
  background-color: var(--insuba-white, #ffffff);
  background-image: none;
  font-family: var(--insuba-font, "Roboto", sans-serif);
  color: var(--insuba-white, #ffffff);
}
.ui-datepicker-calendar td a {
  border-color: var(--insuba-base, #0365d3);
  background-color: var(--insuba-gray, #e0e0e0);
  background-image: none;
}
.ui-datepicker-calendar .ui-state-default,
.ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border-color: transparent;
  background-color: var(--insuba-white2, #ecf2f2);
  background-image: none;
  color: var(--insuba-black, #122f2a);
  padding: 10px 5px;
  text-align: center;
  line-height: 1em;
  border-radius: 5px;
}
.ui-datepicker-calendar .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-content .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-header .ui-state-default:hover {
  color: var(--insuba-white, #ffffff);
  background-color: var(--insuba-base, #0365d3);
}
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-content .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {
  color: var(--insuba-white, #ffffff);
  background-color: var(--insuba-base, #0365d3);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  background-image: none;
  background-color: var(--insuba-white, #ffffff);
  color: var(--insuba-black, #122f2a);
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  background-color: var(--insuba-gray, #e0e0e0);
  color: var(--insuba-white, #ffffff);
}

.ui-datepicker .ui-datepicker-prev {
  cursor: pointer;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.ui-datepicker .ui-datepicker-prev:hover {
  left: 6px;
}

.ui-datepicker .ui-datepicker-next {
  cursor: pointer;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
.ui-datepicker .ui-datepicker-next:hover {
  right: 6px;
}

.insuba-datepicker-arrow {
  display: inline-flex;
  font-size: 16px;
  color: var(--insuba-text, #636363);
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.insuba-datepicker-arrow svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
@media (max-width: 375px) {
  .insuba-datepicker-arrow {
    right: 23px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background-color: var(--insuba-base, #0365d3);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 1200px) {
  .hero-section {
    padding-top: 94px;
    padding-bottom: 166px;
  }
}
.hero-section__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.hero-section .container {
  position: relative;
}
.hero-section__logo {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hero-section__content {
  text-align: center;
}
@media (min-width: 992px) {
  .hero-section__content {
    text-align: left;
  }
}
.hero-section__title {
  margin: 0;
  font-size: 38px;
  line-height: 1.23;
  color: var(--insuba-white, #ffffff);
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media (min-width: 375px) {
  .hero-section__title {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .hero-section__title {
    margin-top: 146px;
    font-size: 60px;
  }
}
@media (min-width: 1400px) {
  .hero-section__title {
    font-size: 65px;
  }
}
.hero-section__text {
  margin: 0 0 30px;
  color: var(--insuba-white, #ffffff);
  font-weight: 600;
}
@media (min-width: 1200px) {
  .hero-section__text {
    margin-bottom: 68px;
    font-size: 20px;
    line-height: 36px;
  }
}
.hero-section__text br {
  display: none;
}
@media (min-width: 768px) {
  .hero-section__text br {
    display: inherit;
  }
}
.hero-section .insuba-btn {
  padding-left: 25px;
  padding-right: 60px;
  color: var(--insuba-black2, #333333);
  background-color: var(--insuba-white, #ffffff);
}
.hero-section .insuba-btn::after {
  background-color: var(--insuba-black3, #19232b);
}
.hero-section .insuba-btn .insuba-btn__icon-box {
  background-color: var(--insuba-black3, #19232b);
}
.hero-section .insuba-btn:hover {
  color: var(--insuba-white, #ffffff);
}
.hero-section .insuba-btn:hover .insuba-btn__icon {
  color: var(--insuba-black3, #19232b);
}
.hero-section .insuba-btn:hover .insuba-btn__icon-box {
  background-color: var(--insuba-white, #ffffff);
}
.hero-section__images {
  display: none;
}
.hero-section__images img {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (min-width: 1200px) {
  .hero-section__images {
    display: block;
  }
}
.hero-section__arrow {
  width: 158px;
  height: 90px;
  background-image: url(../images/insuba-landing/hero-arrow-1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 177px;
  left: 23%;
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__arrow {
    display: block;
  }
}
@media (min-width: 1400px) {
  .hero-section__arrow {
    left: 25%;
  }
}
@media (min-width: 1500px) {
  .hero-section__arrow {
    left: 28%;
  }
}
@media (min-width: 1600px) {
  .hero-section__arrow {
    left: 30%;
  }
}
@media (min-width: 1700px) {
  .hero-section__arrow {
    left: 32.8%;
  }
}
.hero-section__badge {
  width: 120px;
  height: 120px;
  background-image: url(../images/insuba-landing/hero-badge-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
  left: 49.5%;
  -webkit-animation: sunMove 10s linear infinite;
  animation: sunMove 10s linear infinite;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__badge {
    display: block;
  }
}
@media (min-width: 1400px) {
  .hero-section__badge {
    top: 94px;
  }
}

@-webkit-keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes slideLeft {
  49% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/
.features-two {
  background-color: var(--insuba-white3, #f1f6f7);
  padding-top: 80px;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .features-two {
    padding-bottom: 40px;
  }
}
.features-two__box {
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .features-two__box {
    margin-bottom: 30px;
  }
}
.features-two__box img {
  max-height: 52px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-two__box:hover img {
  transform: scale(0.9);
}
.features-two__title {
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-size: 20px;
  line-height: 36px;
  color: var(--insuba-black, #122f2a);
  margin: 22px 0 0;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Demo Section
--------------------------------------------------------------*/
.demos-one {
  position: relative;
  padding: 120px 0 90px;
}
@media (max-width: 767px) {
  .demos-one {
    padding: 80px 0 50px;
  }
}
.demos-one__single {
  margin: 0 0 30px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
  text-align: center;
  background-color: var(--insuba-white, #ffffff);
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
}
.demos-one__single:hover {
  transform: translateY(-10px);
}
.demos-one__single:hover .demos-one__buttons {
  transform: scale(1, 1);
  opacity: 1;
  transform-origin: top center;
}
.demos-one__single:hover .demos-one__image img {
  filter: blur(2px);
}
.demos-one__image {
  position: relative;
}
.demos-one__image img {
  max-width: 100%;
  transition: filter 500ms ease;
  filter: blur(0px);
}
.demos-one__buttons {
  background-color: rgba(var(--insuba-black-rgb, 18, 47, 42), 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: scale(1, 0);
  transition: transform 500ms ease, opacity 600ms linear;
  transform-origin: bottom center;
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .demos-one__buttons {
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .demos-one__buttons {
    flex-direction: column;
  }
}
.demos-one__buttons .insuba-btn {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 65px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .demos-one__buttons .insuba-btn {
    min-width: 165px;
  }
}
@media (max-width: 360px) {
  .demos-one__buttons .insuba-btn {
    min-width: 165px;
  }
}
.demos-one__text {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 32px;
}
.demos-one__text__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: var(--insuba-black, #122f2a);
  font-weight: 700;
}

/*--------------------------------------------------------------
#  Feature Section 02
--------------------------------------------------------------*/
.features-one {
  background-color: var(--insuba-white3, #f1f6f7);
  padding: 107px 0 70px;
}
@media (max-width: 767px) {
  .features-one {
    padding: 70px 0 30px;
  }
}
.features-one__title {
  font-size: 50px;
  color: var(--insuba-black, #122f2a);
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 0 63px;
}
@media (max-width: 767px) {
  .features-one__title {
    font-size: 35px;
    margin-bottom: 50px;
  }
}
.features-one__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1199px) {
  .features-one__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 991px) {
  .features-one__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .features-one__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.features-one__box {
  text-align: center;
  position: relative;
  margin: 0 0 46px;
}
@media (max-width: 767px) {
  .features-one__box {
    margin-left: auto;
    margin-right: auto;
  }
}
.features-one__box__image {
  width: 131px;
  height: 135px;
  background-color: var(--insuba-white, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.features-one__box__image img {
  max-height: 121px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-one__box__title {
  font-family: var(--insuba-font, "Roboto", sans-serif);
  max-width: 131px;
  font-size: 15px;
  color: var(--insuba-black6, #232323);
  font-weight: 700;
  margin: 22px 0 0;
}
.features-one__box:hover .features-one__box__image img {
  transform: scale(0.9);
}

/*--------------------------------------------------------------
#  Footer Section
--------------------------------------------------------------*/
.main-footer {
  background-color: var(--insuba-base, #0365d3);
  position: relative;
}
@media (max-width: 767px) {
  .main-footer {
    padding-top: 70px;
  }
}
.main-footer .container {
  position: relative;
  z-index: 2;
}
.main-footer__title {
  margin: 0 0 20px;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--insuba-white, #ffffff);
}
@media (min-width: 1200px) {
  .main-footer__title {
    font-size: 45px;
  }
}
.main-footer__text {
  margin: 0 0 27px;
  font-weight: 400;
  color: var(--insuba-white, #ffffff);
}
@media (min-width: 1200px) {
  .main-footer__text {
    font-size: 26px;
  }
}
.main-footer .insuba-btn {
  padding-left: 25px;
  padding-right: 60px;
  color: var(--insuba-black2, #333333);
  background-color: var(--insuba-white, #ffffff);
}
.main-footer .insuba-btn::after {
  background-color: var(--insuba-black3, #19232b);
}
.main-footer .insuba-btn .insuba-btn__icon-box {
  background-color: var(--insuba-black3, #19232b);
}
.main-footer .insuba-btn:hover {
  color: var(--insuba-white, #ffffff);
}
.main-footer .insuba-btn:hover .insuba-btn__icon {
  color: var(--insuba-black3, #19232b);
}
.main-footer .insuba-btn:hover .insuba-btn__icon-box {
  background-color: var(--insuba-white, #ffffff);
}
.main-footer__copyright {
  position: relative;
  border-top: 1px solid rgba(var(--insuba-white-rgb, 255, 255, 255), 0.2);
  margin: 109px 0 0;
  padding: 13px 0 13px;
}
@media (max-width: 767px) {
  .main-footer__copyright {
    margin-top: 50px;
    padding: 23px 0 22px;
  }
}
.main-footer__copyright p {
  margin: 0;
  font-family: var(--insuba-font, "Roboto", sans-serif);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--insuba-white, #ffffff);
}
/*# sourceMappingURL=insuba-landing.css.map */
